//this is a mess TODO rearange and comment mby

.chat
  height: 100vh
  overflow: hidden
.sidebar
  background-color: #736CED
  color: white
  font-weight: bold
  //del
  &__header
    padding: 3px 0 0 8px
    margin: 0
    color: #E6E6FA
    text-shadow: 1px 1px 2px #464646;
    font-size: 1.4rem
    display: inline-block
  &__logo
    height: 2rem
    padding-right: 2px
  &__list
    padding-top: 4px
  &__list-item
    color: #bababa
    &:hover
      background-color: #6a60e6
    &.MuiListItem-root.Mui-selected
      color: white
      background-color: #6057DA
      &:hover
        background-color: #6057DA

.message-area
  background-color: white
  height: 100vh
  display: grid
  grid-template-rows: auto 1fr auto
  flex-grow: 1
  &__header
    padding: 12px
    margin: 0
    -webkit-box-shadow: 0px 1px 1px 0px rgba(186,186,186,1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(186,186,186,1);
    box-shadow: 0px 1px 1px 0px rgba(186,186,186,1);
  &__avatar-container
    display: flex
    flex-direction: row
  &__avatar
    width: 50px
    height: 50px
    border-radius: 50%
    margin-right: 8px
    object-fit: cover
  &__container
    overflow-y: scroll
    min-height: 80vh //FIX LATER
    padding-bottom: 0
    scrollbar-width: thin
  &__message-container
    display: flex
    flex-direction: column
    flex-wrap: wrap
    &>h2
      margin: 0
  &__username
    font-weight: 600
    font-size: 1rem
    margin-right: 4px
  &__timestamp
    font-weight: 500
    font-size: 0.75rem
    color: rgb(116, 127, 141)
  &__message
    word-wrap: break-word
    white-space: break-spaces
    font-weight: 500
    font-size: 1rem
  &__input
    display: flex
    &-tf
      margin: 0 0 8px 8px
    &> button
      border-radius: 0

.error-404
  padding: 8px
.grid-height
  height: 100vh
.backdrop
  z-index: 1
  color: '#fff'
  display: flex
  flex-direction: column
  &>a
    color: white
    text-decoration: none
    text-shadow: 1px 1px 1px black
.embed
  max-width: 60vw
  max-height: 80vh
  &__backdrop
    max-width: 90vw
    max-height: 90vh

.icon
  &__menu
    margin-bottom: 3px
    margin-right: 12px
  &__menu-exit
    color: white
    padding: 10px
    margin: 6px
    float: right
  &__send
    height: 40px
    width: 40px


.landing
  background-color: white
  margin-bottom: 200px
  &__container-main
    margin: 0 auto
    & > :nth-child(n+2)
      @media only screen and (max-width: 601px)
        margin-right: 20px
        margin-left: 20px
  &__logo
    max-height: 14rem
    padding-right: 2px
    @media only screen and (max-width: 1730px)
      max-height: 12rem
    @media only screen and (max-width: 1410px)
      max-height: 10rem
    @media only screen and (max-width: 1090px)
      max-height: 8rem
    @media only screen and (max-width: 900px)
      max-height: 5rem
    @media only screen and (max-width: 350px)
      max-height: 4rem
  &__header
    padding: 3px 0 0 8px
    margin: 100px 0 50px 0
    color: #736CED
    text-shadow: 3px 2px 2px #D4C1EC;
    font-size: 10rem
    display: inline-block
    user-select: none
    @media only screen and (max-width: 1730px)
      font-size: 8rem
    @media only screen and (max-width: 1410px)
      font-size: 6rem
    @media only screen and (max-width: 1080px)
      font-size: 5rem
    @media only screen and (max-width: 900px)
      font-size: 4rem
    @media only screen and (max-width: 350px)
      font-size: 3rem
  &__section
    margin: 0 auto
    &-container
      position: relative
      padding: 300px 0
      &:nth-child(even)
        background-color: #F6F6F6
        &:before
          content: ""
          position: absolute
          left: 0
          top: -40px
          right: 0
          background-repeat: repeat
          height: 40px
          background-size: 400px 40px //40 40
          background-image: radial-gradient(ellipse at 200px -10px, transparent 210px, #F6F6F6 13px)
        &:after
          content: ""
          position: absolute
          left: 0
          bottom: -40px
          right: 0
          background-repeat: repeat
          height: 40px
          background-size: 400px 40px //40 40
          background-image: radial-gradient(ellipse at 200px 50px, transparent 210px, #F6F6F6 13px)
      &:last-child
        margin-bottom: 0
        padding-bottom: 150px
        &:after
          display: none
  &__img
    max-height: 400px
    max-width: 600px
    margin: 28px 40px 28px 20px
    border: 4px hsla(242,46%,69%,0.2) solid
    //border: 4px #8e8bd4 solid
    &-even
      margin: 28px 20px 28px 40px
    @media only screen and (max-width: 930px)
      max-width: 80vw
    @media only screen and (max-width: 430px)
      max-width: 90vw
    @media only screen and (max-width: 1200px)
      margin: 28px 20px
  &__description
    &-container
      & h1
        font-size: 48px
        margin-top: 20px
      & p
        font-size: 1.25rem
      &:nth-of-type(odd)
        padding: 0 20px 0 40px
      &:nth-of-type(even)
        padding: 0 40px 0 20px
    @media only screen and (max-width: 1200px)
      padding: 0 20px
body
  background-color: white

.landing__description-wrap
  flex-wrap: nowrap
  @media only screen and (max-width: 1200px)
    flex-wrap: wrap