.sidebar
  background-color: #736CED
  color: white
  font-weight: bold
  &__list-item
    color: #bababa
    &:hover
      background-color: #6a60e6
    &.MuiListItem-root.Mui-selected
      color: white
      background-color: #6057DA
      &:hover
        background-color: #6057DA

.message-area
  background-color: #FEF9FF
  height: 100vh
  display: grid
  grid-template-rows: 1fr auto 1fr
  flex-grow: 1
  &__header
    padding: 8px
  &__container
    overflow-y: scroll
    min-height: 80vh //FIX LATER
    padding-bottom: 0
  &__input
    display: flex
    &-tf
      margin: 0 0 8px 8px
    &> button
      border-radius: 0