.chat {
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  background-color: #736CED;
  color: white;
  font-weight: bold;
}

.sidebar__header {
  padding: 3px 0 0 8px;
  margin: 0;
  color: #E6E6FA;
  text-shadow: 1px 1px 2px #464646;
  font-size: 1.4rem;
  display: inline-block;
}

.sidebar__logo {
  height: 2rem;
  padding-right: 2px;
}

.sidebar__list {
  padding-top: 4px;
}

.sidebar__list-item {
  color: #bababa;
}

.sidebar__list-item:hover {
  background-color: #6a60e6;
}

.sidebar__list-item.MuiListItem-root.Mui-selected {
  color: white;
  background-color: #6057DA;
}

.sidebar__list-item.MuiListItem-root.Mui-selected:hover {
  background-color: #6057DA;
}

.message-area {
  background-color: white;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.message-area__header {
  padding: 12px;
  margin: 0;
  -webkit-box-shadow: 0px 1px 1px 0px #bababa;
  box-shadow: 0px 1px 1px 0px #bababa;
}

.message-area__avatar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.message-area__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.message-area__container {
  overflow-y: scroll;
  min-height: 80vh;
  padding-bottom: 0;
  scrollbar-width: thin;
}

.message-area__message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.message-area__message-container > h2 {
  margin: 0;
}

.message-area__username {
  font-weight: 600;
  font-size: 1rem;
  margin-right: 4px;
}

.message-area__timestamp {
  font-weight: 500;
  font-size: 0.75rem;
  color: #747f8d;
}

.message-area__message {
  word-wrap: break-word;
  white-space: break-spaces;
  font-weight: 500;
  font-size: 1rem;
}

.message-area__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-area__input-tf {
  margin: 0 0 8px 8px;
}

.message-area__input > button {
  border-radius: 0;
}

.error-404 {
  padding: 8px;
}

.grid-height {
  height: 100vh;
}

.backdrop {
  z-index: 1;
  color: '#fff';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.backdrop > a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

.embed {
  max-width: 60vw;
  max-height: 80vh;
}

.embed__backdrop {
  max-width: 90vw;
  max-height: 90vh;
}

.icon__menu {
  margin-bottom: 3px;
  margin-right: 12px;
}

.icon__menu-exit {
  color: white;
  padding: 10px;
  margin: 6px;
  float: right;
}

.icon__send {
  height: 40px;
  width: 40px;
}

.landing {
  background-color: white;
  margin-bottom: 200px;
}

.landing__container-main {
  margin: 0 auto;
}

@media only screen and (max-width: 601px) {
  .landing__container-main > :nth-child(n+2) {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.landing__logo {
  max-height: 14rem;
  padding-right: 2px;
}

@media only screen and (max-width: 1730px) {
  .landing__logo {
    max-height: 12rem;
  }
}

@media only screen and (max-width: 1410px) {
  .landing__logo {
    max-height: 10rem;
  }
}

@media only screen and (max-width: 1090px) {
  .landing__logo {
    max-height: 8rem;
  }
}

@media only screen and (max-width: 900px) {
  .landing__logo {
    max-height: 5rem;
  }
}

@media only screen and (max-width: 350px) {
  .landing__logo {
    max-height: 4rem;
  }
}

.landing__header {
  padding: 3px 0 0 8px;
  margin: 100px 0 50px 0;
  color: #736CED;
  text-shadow: 3px 2px 2px #D4C1EC;
  font-size: 10rem;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 1730px) {
  .landing__header {
    font-size: 8rem;
  }
}

@media only screen and (max-width: 1410px) {
  .landing__header {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 1080px) {
  .landing__header {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 900px) {
  .landing__header {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 350px) {
  .landing__header {
    font-size: 3rem;
  }
}

.landing__section {
  margin: 0 auto;
}

.landing__section-container {
  position: relative;
  padding: 300px 0;
}

.landing__section-container:nth-child(even) {
  background-color: #F6F6F6;
}

.landing__section-container:nth-child(even):before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  right: 0;
  background-repeat: repeat;
  height: 40px;
  background-size: 400px 40px;
  background-image: radial-gradient(ellipse at 200px -10px, transparent 210px, #F6F6F6 13px);
}

.landing__section-container:nth-child(even):after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -40px;
  right: 0;
  background-repeat: repeat;
  height: 40px;
  background-size: 400px 40px;
  background-image: radial-gradient(ellipse at 200px 50px, transparent 210px, #F6F6F6 13px);
}

.landing__section-container:last-child {
  margin-bottom: 0;
  padding-bottom: 150px;
}

.landing__section-container:last-child:after {
  display: none;
}

.landing__img {
  max-height: 400px;
  max-width: 600px;
  margin: 28px 40px 28px 20px;
  border: 4px rgba(142, 140, 212, 0.2) solid;
}

.landing__img-even {
  margin: 28px 20px 28px 40px;
}

@media only screen and (max-width: 930px) {
  .landing__img {
    max-width: 80vw;
  }
}

@media only screen and (max-width: 430px) {
  .landing__img {
    max-width: 90vw;
  }
}

@media only screen and (max-width: 1200px) {
  .landing__img {
    margin: 28px 20px;
  }
}

.landing__description-container h1 {
  font-size: 48px;
  margin-top: 20px;
}

.landing__description-container p {
  font-size: 1.25rem;
}

.landing__description-container:nth-of-type(odd) {
  padding: 0 20px 0 40px;
}

.landing__description-container:nth-of-type(even) {
  padding: 0 40px 0 20px;
}

@media only screen and (max-width: 1200px) {
  .landing__description {
    padding: 0 20px;
  }
}

body {
  background-color: white;
}

.landing__description-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media only screen and (max-width: 1200px) {
  .landing__description-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.login-button {
  background-color: #8383eb;
  margin-top: 4px;
}

.login-button:hover {
  background-color: #6a60e6;
}

.login-button:first-of-type {
  margin-top: 8px !important;
}
/*# sourceMappingURL=main.css.map */